/* Header.module.css */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px 40px;
}

.header h1 {
  margin: 0;
}

.searchBarContainer {
  display: flex;
  align-items: center;
}

.searchIcon {
  margin-right: 8px;
}

.searchBar {
  border: 1px solid #ddd;
  padding: 5px;
  border-radius: 4px;
}

.topIcons {
  display: flex;
  align-items: center;
}

.topIcon {
  margin-left: 15px;
  cursor: pointer;
}
