* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header{
  text-align: center;
  margin-top:20px;
}

table {
  margin: 20px auto;
  width: 90%;
  height: 10px;
  border-collapse: collapse;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

th, td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

thead {
  color: #ffffff;
  background-color: #115376;
}

tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.pagination-container {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}
