.RechargeHome-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 10px;
    border: 1px solid black;
    border-radius: 20px;
    background-color: #ffffff;
    position:avabsolute;
    box-shadow: #333 2px;
   
    margin-top:30px;
  }
  
  .RechargeHome-container .ant-form-item {
    margin-bottom: 16px;
  
  }
  
  .RechargeHome-container .ant-form-item .label {
    font-weight: bold;
  }
  
  .RechargeHome-container .ant-input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .RechargeHome-container .ant-input::placeholder {
    color: #aaa;
  }
  .RechargeHome-container .header h1 {
    text-align:center;
    color: #333;
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: 300;
   
}
  .RechargeHome-container button {
    width: 20%;
    height: 40px;
    color: black;
    margin-left: 220px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 4px;
    background-color: rgb(55, 16, 154);
}